@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.phone_searchingWrapper {
}
.phone_searchingWrapper input {
  height: 50px;
  border-radius: 5px;
  padding: 15px 20px;
}
.phone_searchingWrapper button {
  padding: 10px 20px;
  background: #ff7f50;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}
.phone_searchingWrapper button:hover {
  color: #fff;
}

.primray_btn {
  background: #ff7f50;
  font-size: 14px;
  text-transform: capitalize;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  display: inline-block;
}

.thumb {
  text-align: center;
  padding: 30px 20px;
}
.card-body {
  padding: 20px 30px;
}
.details_card {
  border: 3px solid #ff7f50;
  background: #f1f1f1;
}
#error_text {
  display: none;
}
.font_medium {
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 5px;
}
